@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background: #ebebeb
    ;
}

.toast {
    position: absolute;
}

.divider{
    height: 1rem;
}

.wrapper{
    display:grid;
    height:100vh;
    place-items:center
}

.logo-spinner {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  